<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}A random online chat{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div>
                {% for message in messages %}
                    <div>{{ message.author.username }}: {{ message.content }}</div>
                {% endfor %}
            </div>
            {{ form_start(messageForm) }}
                {{ form_row(messageForm.content) }}
                <button type="submit" class="btn">Send!</button>
            {{ form_end(messageForm) }}
        {% endblock %}
    </body>
</html>